html {
    overflow: hidden;
}

body {
    margin: 0;
    /* font-size: 26px; */
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallaxWrapper {
    width: 100vw;
    height: 100vh;
    padding-top: 20vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
}

.parallaxWrapper::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    /* background-image: url("../images/backgrounds/redGarden2.jpg"); */
    position: absolute;
    z-index: -1;
    transform:translateZ(-1px) scale(2);
    background-repeat: no-repeat;
    background-size: cover;
}

#greetingBackground::before {
    background-image: url("../images/backgrounds/redGarden2.jpg");
}

.regularWrapper {
    width: 100vw;
    height: 100vh;
    /* padding-top: 20vh; */
    background-image: url("../images/Textures/mochaGrunge.png");
    z-index: 2;
    position: relative;
}

#greetings {
    border: 4px solid darkorange;
    border-radius: 3px;
    background-image: url("../images/Textures/topography.png");
    box-shadow: 4px 4px 20px black;
    text-align: center;
    margin: 10rem;
    padding: 5px;
}

#portfolioHeader {
    position: relative;
    width: 100vw;
    margin: 0 0 ;
    text-align: center;
    border: 1rem groove rgb(159, 165, 165);
    color: white;
    background-image: url("../images/Textures/escheresque_ste_@2X.png");
    /* z-index: 10; */
}

.portfolioCard {
    position: relative;
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
    border: 4px solid darkorange;
    border-radius: 3px;
    background-image: url("../images/Textures/topography.png");
    box-shadow: 4px 4px 20px black;
    text-align: center;
    margin: 4rem;
    padding: 2px;
}

.herokuIcon {
    height: 75px;
    width: auto;
    border: 1px 1px dashed black;
    border-radius: 3px;
}

.herokuIcon:hover {
    border: 1px 1px dashed black;
    box-shadow: 1px 1px 30px rgb(156, 253, 91);
}

.githubIcon {
    width: 75px;
    height: 75px;
    border: 1px 1px dashed black;
    border-radius: 50%;
   
}

.githubIcon:hover {
    border: 2px 2px dashed black;
    box-shadow: 1px 1px 30px rgb(130, 209, 245);
}

.img-fluid {
    max-width: 90%;
    border: solid 1px darkslategrey;
}